@model AffinidiHackathon.Models.CredentialsUser[]

@{
    ViewBag.Title = "My Credentials";
}

@Html.ActionLink("Create a new credential", "CreateCredential", null, new { @class = "btn btn-success btn-lg px-4" })
@Html.ActionLink("View pending credentials to save", "MyPendingCredentials", null, new { @class = "btn btn-info btn-lg px-4" })
<br />
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-4 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">My credentials</h1>
            <p class="col-lg-10 fs-4">Here you can view your credentials.</p>
        </div>
        <div class="col-10 mx-auto col-lg-7">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birth Date</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Passport number</th>
                        <th>National Document number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var credential in Model)
                    {
                        <tr>
                            <td>@credential.credentialSubject.data.Name</td>
                            <td>@credential.credentialSubject.data.BirthDate</td>
                            <td>@credential.credentialSubject.data.Country</td>
                            <td>@credential.credentialSubject.data.City</td>
                            <td>@credential.credentialSubject.data.PassportNumber</td>
                            <td>@credential.credentialSubject.data.NationalDocumentNumber</td>
                            <td>@Html.ActionLink("Share credential", "Share", new { id = credential.id.Replace("claimId:", "") }, new { @class = "btn btn-success btn-lg px-4" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>